

body  { font-family: sans-serif; background-color: white; background-image: url(https://img.etimg.com/thumb/width-640,height-480,imgsize-539734,resizemode-1,msid-69156527/blanket-ban-on-cryptocurrency-may-prove-to-be-futile-claim-experts.jpg)}
h1, h2, h3, h4       { color: #CCCCCC; }

h4 {
   display: inline-block; padding: 0 ; margin:0; text-align: right
}
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p               { color: #CCCCCC;}

.a {text-decoration: white; color:#FFFFCC; font-size: 1.2em;}
.ol {font-size: 0.5em}

.mainItem {color: #CCCCCC;}

.pane {
   position: absolute;
   left: 0%;
   border: 2px solid;
   border-radius: 25px;
   padding: 5px;
   margin: 5px;
   border-color: #999999;
   background-color: #333333
}

.header         {left:50%; text-align: center;}

h4 { display:inline }


