
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<h2>{{name}} Balances</h2>
<br>
<br>

<h4 align="center" ><a href="{{url_for('home')}}">Home Page</h4></a>
<!-- CSS -->
<style>
    .myTableBg { 
      width: 100%;
      text-align: left;
      background: white repeat;
      border-collapse: collapse;
      }
    .myTableBg td, .myTableBg th { 
      border:2px solid black;
      padding:5px;
      }
    </style>

    <table class = "myTableBg">
        <tr>
        <th></th>    
        <th>Account Date Creation</th>
        <th>Last Update</th>
        <th>Coin</th>
        <th>Amount</th>
            
        </tr>
        {% for account in balance %}
        <TR>
           <TD class="c1"></TD>
           <TD class="c2">{{account.created_date.strftime('%Y-%m-%d')}}</TD>
           <TD class="c2">{{account.lastUpdate}}</TD>
           <TD class="c2">{{account.coin}}</TD>
           <TD class="c3">{{account.amount|round(3)}}</TD>
        <br>   
        </TR>
        {% endfor %}
        </table>

        



