
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
</head>
<h4 align="center" ><a href="{{url_for('home')}}">Home Page</h4></a>

{% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <p><strong>{{message}} </strong> </p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


<body>

    <h1> Create New  Coin </h1>


    <form action="{{url_for('newCoin')}}" method="post">

        <p>Name:</p>
        <input type='text' size='30' name='CoinName' required>
        <p>Value:</p>
        <input type='text' size='30' name='CoinValue' required>
        <p>Unit:</p>
        <input type='text' size='30' name='Unit' required>
        <br>
        <br>

        <input type='submit' value='Create'>

       
    </form>


</body>
</html>