
<h2>All Transactions on the Network</h2>
<br>
<br>

<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<h4 align="center" ><a href="{{url_for('home')}}">Return Home Page</h4></a>


    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <p><strong>{{message}} </strong> </p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}


    <br>

<!-- CSS -->
<style>
    .myTableBg { 
      width: 100%;
      text-align: left;
      background: white repeat;
      border-collapse: collapse;
      }
    .myTableBg td, .myTableBg th { 
      border:2px solid black;
      padding:5px;
      }
    </style>

<table class = "myTableBg">
    <tr>
    <th></th>    
    <th>Date</th>
    
    <th>Sender</th>

    <th>Recipient</th>
    
    <th>Coin</th>
    
    <th>Amount</th>

    <th>Description</th>
    
    </tr>
{% for transaction in transactions %}
<TR>
   <TD class="c1"></TD>
   <TD >{{transaction.time_}}</TD>
   <TD >{{transaction.sender}}</TD>
   <TD >{{transaction.recipient}}</TD>
   <TD ><SPAN>{{transaction.coin}}</SPAN></TD>
   <TD ><SPAN>{{transaction.amount}}</SPAN></TD>
   <TD ><SPAN>{{transaction.description}}</SPAN></TD>
</TR>
{% endfor %}
</table>

