  
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">

<h2>Coins used in the Network</h2>
<br>
<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <p><strong>{{message}} </strong> </p>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

<!-- CSS -->
<style>
    .myTableBg { 
      width: 100%;
      text-align: left;
      background: white repeat;
      border-collapse: collapse;
      }
    .myTableBg td, .myTableBg th { 
      border:2px solid black;
      padding:5px;
      }
    </style>

<h4 align="center"><a href="{{url_for('home')}}">Home Page</h4></a>

    <table class = "myTableBg">
        <tr>
        <th></th>    
        <th>Coin Date Creation</th>
        <th>Coin Name</th>
        <th>Value</th>
        <th>Unit</th>
            
        </tr>
        {% for coin in coins %}
        <TR>
           <TD  ></TD>
           <TD  >{{coin.created_date.strftime('%Y-%m-%d')}}</TD>
           <TD  >{{coin.name}}</TD>
           <TD  >{{coin.value}}</TD>
           <TD  >{{coin.unity}}</TD>
        <br>   
        </TR>
        {% endfor %}
</table>




