
 
<h4 align="center"><a href="{{url_for('home')}}">Home Page</h4></a>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
    {% for message in messages %}
    <p><strong>{{message}} </strong> </p>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  
<body>

    <h1>New Transfer </h1>
    </head>
    <body>

        
        <form action="{{url_for('sendTransaction', user_id = user_id)}}" method='post'>

        <p>Sender:</p>
        <input type='text' size='30' name='sender' required>
        <p>Recipient:</p>
        <input type='text' size='30' name='recipient' required>
        <p>Amount:</p>
        <input type='number' step="any" min="0" size='30' name='amount' required>
        <p>Coin:</p>
        <input type='text' size='30' name='coin' required>
        <p>Description:</p>
        <input type='text' size='30' name='description' required>
        </br>
        </br>

        <input type='submit' value='Create'>


        </br>
        </br>
        </br>

</body>
    </html>