 

<h1>Main Panel</h1>
<link rel="stylesheet" href="/static/css/styles.css" type="text/css">
<br>
<br>

<h2>Account For {{ name }}</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}

<ul>
    {% for message in messages %}
    <p><strong>{{message}} </strong> <p>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<body>
<br>
<br>
<br>
 <a style="color:white;font-size:15px;" href="{{url_for('showBalance',user_id = user_id)}}"> Check User Balance</a>
 <br>
 <br>
 <br>
 <a style="color:white;font-size:15px;" href="{{url_for('newCoin')}}">Create New Coin</a>
 <br>
 <br>
 <br>
 <a style="color:white;font-size:15px;" href="{{url_for('sendTransaction', user_id = user_id)}}">Send Payment</a>
 <br>
 <br>
 <br>
 <a style="color:white;font-size:15px;" href="{{url_for('showTransactions',user_id=user_id)}}">Show All Transactions On The Network</a>
 <br>
 <br>
 <br>
 <a style="color:white;font-size:15px;" href="{{url_for('coins')}}">Show All Coins On The Network</a>
 <br>
 <br>
 <br>

 <a style="color:burlywood;font-size:15px;" href="{{url_for('logout')}}">Logout</a>
</body>